.contactForm {
    width: 30%;
    margin-top: 60px;
    margin-bottom:60px ;
    margin-left: 30px;
  }
  
  .contactForm h2{
    margin-top: -12px;
    font-size: 23px;
    font-weight: 500;
  }
  input::placeholder {
    
    font-size: 14px;

}
  .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
  
  .contactForm .inputBox input,
  .contactForm .inputBox textarea {
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #6b6967;
    outline: none;
    resize: none;
  }
  
  .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  input{
    background-color: transparent;
  }
  .contactForm .inputBox input:focus~ span,
  .contactForm .inputBox input:valid~ span,
  .contactForm .inputBox textarea:focus~ span,
  .contactForm .inputBox textarea:valid~ span
  {
    color: #0e79aa;
    font-size: 16px;
    transform: translateY(-20px);
  }
  
  .contactForm .inputBox input[type="submit"]
  {
    width: 200px;
    background: rgb(2, 12, 71);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
  }
  .contactForm .inputBox input[type="submit"]:hover{
    cursor: pointer;
    letter-spacing: 10px;
    background: rgba(2, 12, 71, 0.437);
    transition: 0.5s ease;
  }
  
  #fawry{
    margin-left: 10px;
  }