* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.foots {
    display: flex;
    background-color: #5c75f6;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.foots>div {
    text-align: center;
    font-size: 1rem;
    align-self: center;
}

.info{
    text-align: left;
    width: 300px;
    height: 170px;
    line-height: 23px;
    color: white;
}

.info>h2{
    text-align: center;
}

.linking{
    text-align: left;
    color: white;
}

.socials{
    text-align: left;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline; 
}

.copyrights {
    color: white;
    background-color: #4254af;
    text-align: center;
    padding: 1%;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-flow: column wrap;
    }
}