*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10em;
    overflow: visible;
    text-overflow: ellipsis;
    position: fixed;
    left:3%;
    top:55%;
}
footer{
    position: fixed;
    width: 100%;
    height: 50%;
    bottom:0;
    left:0;
    background: #4c8bc5; 
    color: white;
    text-align: center;
    font-size: medium;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
}

.info{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20em;
    overflow: visible;
    text-overflow: ellipsis;
    position: fixed;
    right:60%;
    top:55%;
}
.linking{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20em;
    overflow: visible;
    text-overflow: ellipsis;
    position: fixed;
    right:30%;
    top:55%;
}
.socials{
    text-align: center;
    justify-content: center;
    align-items: center; 
    position: fixed;
    right:15%;
    top:60%;
}
.copyrights{
    color: white;
    background-color: #2a4f71;
    text-align: center;
    padding: 1%;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:7%;
}