@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Responsive styles */

@media (max-width: 767px) {
    .bodyimage img {
      margin-top: 0;
    }
  
    #introo {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    .p1 {
      font-size: 12px;
    }
  
    .p2 {
      font-size: 18px;
    }
  
    .container3 {
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .container3 img {
      width: 60px;
    }
  
    .container3 img:hover {
      top: 0;
    }
  
    .wrapper {
      flex-direction: column;
      margin-left: 0;
    }
  
    .card {
      width: 80%;
      margin: 0 auto 30px;
      transform: translateY(0);
    }
  
    .card img {
      width: 100%;
      height: 200px;
    }
  
    .container4 p {
      font-size: 30px;
    }
  
    /* Add more responsive styles as needed */
  }
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
.bodyimage  img{
    
    position: relative;
    margin-top: -50px;
    width: 100%;
    height: auto;
 }




 #introo {
    margin-top: -10px;
    padding-top: 120px;
    background-color: #002138;
    padding-bottom: 100px;
}
.p1 {
    margin-top: -20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #8ba79b;
    text-transform: uppercase;


}
.p2 {

    margin-top: -5px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    letter-spacing: 1px;
    color: #a8b0bd;
}

.container3{
    margin-top: 20px;
    background-color: #c5c7cc63;
    backdrop-filter: blur(20px);
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
   
    margin-bottom: 40px;
}

.container3 img{
    /* padding-left: 40px; */
    width: 80px;
    animation: 13s;
}

.container3 img:hover  {
    position: relative;
    top: -17px;
   
  }

#toyota{
    margin-top:20px;
}


.container4{
    height: 65px;
    width: 100%;
    text-align: center;
    background-color: rgba(2, 22, 101, 0.226);
    transform: translateY(-5px);
    padding-top: 5px;
    padding-bottom: 3px;

}
/* responsive */

@media (max-width: 1084px) {
    .wrapper {
        flex-wrap: wrap;
        
    }
        

    .card{
        margin-bottom: 50px;
        transform: translateX(-155px);
    }
    .card:hover{
        transform: translateY(0px);

    }
}

.container4 p{
    margin-top: 5px;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}

/* card start */
.wrapper{
    display: flex;
    margin-top: 50px;
    margin-left: 230px;
    margin-bottom: 40px;
    width: 70%;
    justify-content: space-around;
}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    background-color: #fff;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(1, 10, 56, 0.5) ,rgb(9, 151, 199)  );
    z-index: 2;
    transition:all 0.5s ;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}

.card img{
    width: 312px;
    height: 425px;
    object-fit: cover;
    position: absolute;
    
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;

}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #06011c;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease-in-out ;
    border-radius:8px ;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    letter-spacing: 2px;
}

/* whychooseus */
h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
margin-top:25px ;
}
.section-head h4 {
position: relative;
padding:0;
color:rgb(12, 123, 203);
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: rgb(12, 123, 203);
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f;
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
padding-left: 100px;
padding-right: 125px;
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: rgb(12, 123, 203);
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:rgb(12, 123, 203);
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
margin-left: 10px;
transform: translateX(20px);
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
width: 420px;
height: 190px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:rgb(1, 29, 49);
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: rgb(12, 123, 203);   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
    background:rgba(0, 147, 38, 0.15);
color:rgb(12, 123, 203)
}
.item .feature_box_col_two{
    background:rgba(0, 147, 38, 0.15);
color:rgb(12, 123, 203)
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:rgb(12, 123, 203)
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:rgb(12, 123, 203)
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:rgb(12, 123, 203)
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:rgb(12, 123, 203)
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: rgb(12, 123, 203);
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: rgb(12, 123, 203);
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}
/* whychooseus end */

/* responsive why choose us */

@media (max-width: 1084px) {
    .item {
        width: 380px;
        height: 150px;        
    }
    .item p{
        font-size: 12.5px;
        transform: translateY(-30px);
    }
    .item h6{
        font-size: 14px;
        transform: translateY(-13px);
    }

        

}




/* footer edit css */
.f-col .social-links a {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.f-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.f-col .social-links a p {
    padding: 10px;
}

.social-links a i{

margin-top: 11px;
margin-left: -1.5px;
}

#rights{
    width: 100%;
    background-color: rgba(54, 54, 55, 0.199);
    text-align: center;
}
#rights p{
    font-weight: 400;
    font-size: 15px;
}

/* Pop-up styles */
.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup h2 {
  margin-top: 0;
}

.popup .icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popup .icons a {
  display: inline-block;
  margin: 10px;
  color: #000;
  font-size: 24px;
}

.popup .icons a:hover {
  color: #0e79aa;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

/* Button Styles */
#messageButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0e79aa;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#messageButton:hover {
  background-color: #096b98;
}

#messageButton.active {
  background-color: #ff0000;
}


chatt {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }
  

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }

  }



