@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
.bodyimage  img{
    
    position: relative;
    margin-top: -50px;
    width: 100%;
    height: auto;
 }

 #introo {
    margin-top: -10px;
    padding-top: 120px;
    background-color: #002138;
    padding-bottom: 100px;
}
.p1 {
    margin-top: -20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #8ba79b;
    text-transform: uppercase;


}
.p2 {

    margin-top: -5px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    letter-spacing: 1px;
    color: #a8b0bd;
}

.container3{
    margin-top: 20px;
    background-color: #c5c7cc63;
    backdrop-filter: blur(20px);
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
   
    margin-bottom: 40px;
}

.container3 img{
    /* padding-left: 40px; */
    width: 80px;
    animation: 13s;
}

.container3 img:hover  {
    position: relative;
    top: -17px;
   
  }

#toyota{
    margin-top:20px;
}


.container4{
    height: 65px;
    width: 100%;
    text-align: center;
    background-color: rgba(2, 22, 101, 0.226);

}
.container4 p{
    /* margin-top: 5px; */
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}


/* card start */
.wrapper{
    display: flex;
    margin-top: 50px;
    margin-left: 230px;
    margin-bottom: 40px;
    width: 70%;
    justify-content: space-around;
}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    background-color: #fff;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;

}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(1, 10, 56, 0.5) ,rgb(9, 151, 199)  );
    z-index: 2;
    transition:all 0.5s ;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}

.card img{
    width: 312px;
    height: 425px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;

}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #06011c;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease-in-out ;
    border-radius:8px ;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    letter-spacing: 2px;
}






/* footer edit css */
.f-col .social-links a {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.f-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.f-col .social-links a p {
    padding: 10px;
}

.social-links a i{

margin-top: 11px;
margin-left: -1.5px;
}

#rights{
    width: 100%;
    background-color: rgba(54, 54, 55, 0.199);
    text-align: center;
}
#rights p{
    font-weight: 400;
    font-size: 15px;
}