 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }
     
    .navbar a{
        position: relative;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        left: -220px;
        margin-left:20px ;
    }
    
    .navbar a::before{
    
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: .6s;
        }
        
        .navbar a:hover::before{
        width: 100%;
        }
    
        .logo img{
           position: relative;
            left: -56px;
            width: 265px;
            height: 65px;
        }
    .icons{
        position: absolute;
        font-size: 2.6rem;
        right: 16%;
        color: white;
        cursor: pointer;
        display: none;
     }   
     #fb:hover {
        color: rgb(4, 79, 177);
        cursor: pointer;
    }
    
    #ig:hover {
        color: rgb(133, 6, 48);
        cursor: pointer;
    }
    
    #fb {
        color: rgb(240, 240, 245);
    
    }
    
    #ig {
        color: rgb(240, 240, 245);
    
    }
    
    #tw {
        color: rgb(240, 240, 245);
    
    }
    
    #tw:hover {
    
        color: rgb(41, 124, 233);
        cursor: pointer;
    }
    #ig:hover::before,#fb:hover::before,#tw:hover::before{
        width: 0;
    }
    
    #home::before{
    
       width: 100%;
      
    }
    
    
    
    .navbar-color{
        background-color: #070c1523;
        backdrop-filter: blur(50px);
        transition: .3s ease;
    }
     #check
     {
        display: none;
     }
     .header::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px); */
    z-index: -1;
     }
     @media(max-width:1100px){
        .header{
            padding: 1.3rem 5%;
        }
     }
     @media(max-width:600px){
        .navbar {
            position: relative;
            padding-left: 175px;
        }
        .logo img{
          
            left: -70px;
        }
     }
    
      
     @media(max-width:1084px){
        .icons{
             display: inline-flex;
        }
        .logo img{
            left: 40px;
            width: 190px;
            height:45px ;
        }
        .navbar a:hover::before{
            width: 0;
            }
        #check:checked~.icons #menu-icon{
            display: none;
        }
    
        .icons #close-icon{
            display: none;
        }
    #check:checked~.icons #close-icon{
            display: block;
        }
        #home::before{
        
            width:  0 ;
           
         }
    
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;  background-color: #7082a023;
            backdrop-filter: blur(50px);
            transition: .3s ease;
            overflow: hidden;
            
        }
        #check:checked~.navbar{
            height: 24.5rem;
        }
        .navbar a{
            display: block;
            font-size: 1.1rem;
            margin: 1.3rem 0;
            text-align: center;
        } 
     }
     @media(max-width:321px){
        
        .logo img{
            width: 155px;
            height:40px ;
            left: -15px;
        }
     }