/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  .bodyimage  img{
    position: relative;
    margin-top: -140px;
    width: 100%;
    height: auto;
 }
  
  section.car-collection {
    padding: 40px;
    text-align: center;
  }
  
  .car-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .car {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
  transition: transform 0.3s ease; /* Add transition property for smooth effect */
  }
  
  .car img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .car h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .car p {
    color: #888;
    margin-bottom: 10px;
  }
  
  .car a {
    display: inline-block;
    background-color:rgb(1, 5, 28);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .car a:hover {
    background-color: #555;
  }
  
  .car:hover
  {
    transform: scale(1.05);
  }
.car .info {
  display: none; /* Hide the elements by default */
}

.car:hover .info {
  display: block; /* Display the elements when hovering */
}
.bodytext{

  margin-top: -10px;
  text-align: center;
  background-color: #010d3468;
  /* background-color: #24262b; */
}
.bodytext h1{
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}