@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
     font-family: 'Poppins',sans-serif;

    /* box-sizing: border-box; */
}
/* .header{
    background-color: #070c1523;
        backdrop-filter: blur(50px);
} */
.bodyimage img {

    position: relative;
    margin-top: -320px;
    width: 100%;
    height: auto;
}

h1 {
    font-weight: 600;
    /* font-weight: bold; */
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

form {
    position: relative;
    left: 10%;
    top: 10%;
    width: 50%;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background: white;
    align-items: center;
    flex-flow: row wrap;
    align-content: center;
}

.container {
    margin-left: 37%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 0px;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 580px;
    margin: 20px;
}

.formal {
    position: relative;
    left: 18%;
}
 
.info {
    position: relative;
    height: 40px;
    line-height: 0px;
    margin: 25px;
}

input[type=text] {
    position: relative;
    width: 300px;
    outline: none;
    font-size: 1em;
    padding: 0 10px;
    line-height:40px;
    border-radius: 10px;
    border: 1px solid #1d1c1e77;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
} 

.labella {
    position: relative;
    top: -55%;
    font-size: 1rem;
   
    color: #c5c7cc63;
    padding: 0 5px;
    margin: 0 20px;
    background-color: white;
    transition: 0.2s ease;
}
 
input[type=text]:focus,
input[type=text]:valid {
    color: #002138;
    border: 2px solid #002138;
} 

input[type=text]:focus+.labella,
input[type=text]:valid+.labella {
    color: #1d1c1e77;
    height: 20px;
    line-height: 30px;
    transform: translate(-5px, -30px) scale(1);
    z-index: 1111;
}

.subs {
    font-size: 16px;
    background: transparent;
    color: #000;
    text-decoration: none;
    font-family: 500;
    border: none;
    padding: 15px 29px;
    width: 160px;
    border: 1px solid rgb(1, 5, 28);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.9s;
    position: relative;
    left: 35%;
}

.subs:hover {
    background: #01051c;
    letter-spacing: 3px;
    color: #fff;

}